/* Основной цвет: #212121; #2196F3,  #FFFFFF, #757575, rgba(255, 255, 255, 0.6); */
/* #2F303A */

:root {
    --main-text-color: #212121;
    --logo-text-color: #000000;
    --accent-color: #2196f3;
    --secondory-white-color: #ffffff;
    --owner-text-color: #757575;
    --contener-color: #eeeeee;
    --buttons-port-color: #f5f4fa;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background-footer-color: #2f303a;
    --background--section: #e5e5e5;
    --line-color: #ececec;
    --background-color: #f5f5f5;
    --icon-color: #afb1b8;
    --main-font: Roboto, sans-serif;
}

/* ----------------Скрытый заголовок---------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: var(--main-text-color);
    background: var(--secondory-white-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.link,
.links-contacts,
.logo,
.map-link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.page-header {
    padding: 24px 0;
    border-bottom: 1px solid #ececec;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.enefits-section {
    padding-bottom: 0;
}

/* ------------------секция логотипа----------------- */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.page-header-logo {
    display: inline-block;
    margin-right: 93px;
}

.logo-header {
    color: var(--logo-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* --------------Site nav----------- */
.page-header>.container {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.page-header .list {
    display: flex;
    /* gap: 50px; */
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {

}

.link {
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page-header a:hover,
.page-header a:focus {
    color: var(--accent-color);
}

/* -----------------------Секция контактов------------- */
.section-contacts {
    margin-left: auto;
}

/* .header-contact-link:not(:last-child) {
  margin-right: 50px;
} */
.header-contact-link+.header-contact-link {
    margin-left: 50px;
}

.header-contact-link .links-contacts {
    padding-bottom: 32px;
    padding-top: 32px;

    color: var(--owner-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.links-contacts:hover,
.links-contacts:focus {
    color: var(--accent-color);
}

.link.current,
.links-contacts.current {
    color: var(--accent-color);
}

/*--------------------------Секция героя----------------------*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-footer-color);
}

.hero-title {
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--secondory-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.button {
    /*display: inline-block; */
    padding: 10px 32px;
    /* border: 1px solid transparent; */
    border: none;
    border-radius: 4px;
    min-width: 216px;
    text-align: center;

    background-color: var(--accent-color);
    color: var(--secondory-white-color);
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
    background-color: #188ce8;
}

/* --------------------Секция преимуществ---------------- */
.our-advantages {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 30px;
    /* align-items: center; */
}

.advantages-item {
    max-width: 270px;
    /* flex-basis: 270px; */
    /* margin-left: 30px; */
}

.advantages-item:first-child {
    margin-left: 0;
}

.advantages-list {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
}

.description-advantages {
    color: var(--owner-text-color);
    line-height: 1.71;
}

/* ----------------------Чим ми займаємося---------------- */
.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* ----------------Наша команда-------------- */
.our-team-section {
    background-color: var(--buttons-port-color);
}

.our-team-list {
    display: flex;
    width: calc(100%-90) / 4;
    /* flex-wrap: wrap; */
    /* gap: 30px; */
}

.our-team-item:not(:last-child) {
    margin-right: 30px;
}

.our-team-content {
    padding: 30px 0;
}

.our-team-item {
    background-color: var(--secondory-white-color);
    /* max-width: 260 px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
}

.team-list {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.profession-name {
    color: var(--owner-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* ------------------Страница портфолио-------------------- */
/*------------------- Секция проектов---------------------  */
.btn-portfolio {
    /* display: inline-block; */
    padding: 6px 22px;
    /* border: transparent; */
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--buttons-port-color);
    color: var(--main-text-color);
    font-family: inherit;
    /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12); */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--secondory-white-color);
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-buttons-item:not(:last-child) {
    margin-right: 8px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-between; */
}

.projects-item {
    width: calc(100%-60px) / 3;
    /* margin-right: 30px;
  margin-bottom: 30px; */
}

/* .projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.portfolio-item-text {
    padding: 20px 24px;
    border: 1px;
    border-style: solid;
    border-top-width: 0;
    border-top-style: hidden;
    border-color: var(--contener-color);
}

.job-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.filter-list {
    color: var(--owner-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* -----------------------page-footer-------------------- */
.page-footer {
    padding: 60px 0;
    background-color: var(--background-footer-color);
}

.adress-item:nth-child(-n + 2) {
    margin-bottom: 9px;
}

.map-link {
    color: var(--secondory-white-color);
    font-style: normal;
    line-height: 1.71;
}

.map-link:hover,
.map-link:focus {
    color: var(--accent-color);
}

.links-contacts {
    color: var(--owner-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.logo-footer {
    color: var(--secondory-white-color);
}

.address {
    margin-top: 20px;
}

.address-footer {
    color: var(--footer-text-color);
    line-height: 1.7;
    font-style: normal;
}